/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Root Variables */
:root {
  font-size: 16px;
  --color-gray-dark: #6C727F;
  --color-gray-light: #E5E7EB;
  --color-white: #FFFFFF;
  --color-blue: #3662E3;
  --color-background: #F9FAFB;
}

/* Global Styles (Mobile First) */
body {
  max-width: 640px;
  margin: 75px auto;
  padding: 0 40px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-gray-dark);
  background-color: var(--color-background);
  line-height: 1.75;
  text-align: center;
}

/* Headings */
h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #000000;
}

h2 {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-gray-dark);
}

/* Logo Image */
.logo-image {
  max-width: 60px;
}

/* Form Section */
.form-section {
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px;
  background-color: var(--color-white);
  width: 100%;
  border: 1px solid var(--color-gray-light);
  border-radius: 10px;
  box-shadow: 0px 10px 20px 2px var(--color-gray-light);
}

/* Email Input and Submit Button */
.email-input,
.submit-button {
  border: 1px solid var(--color-gray-light);
  width: 100%;
  text-align: center;
  height: 54px;
  border-radius: 10px;
}

.email-input {
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--color-background);
  color: var(--color-gray-dark);
}

.submit-button {
  font-size: 1rem;
  font-weight: 600;
  margin: 24px 0;
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* Helper Text */
.helper-text {
  font-size: 0.875rem;
  color: var(--color-gray-dark);
}
